table{
border:1px solid black;
border-collapse: collapse;
}
caption{
    border:1px solid black;
}
th{
    border:1px solid black;
    height: 30px;
    padding:10px;
}
td{
    border:1px solid black;
    height: 15px;
    padding:10px;
}